<!-- Codigo viejo, para arreglar un problema con el scrolling -->
{{!-- <style>
    .col {
        overflow: auto;
    }
</style> --}}

<style>
    .botones{
        text-align: center;
    }

    .button{
        background-color: #6495ed;
        border:none;
        border-radius: 4px;
        color: #FFF;
        width: 200px;
        height: 50px;
        padding: 15px 25px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .button:hover{
        background-color: #4682b4;
    }

</style>

<form class="form-horizontal" onsubmit="popUp()" target="_blank">
    <fieldset>
        <div class="container p-5">
            <div class="row">
                <div class="col">
                    <!-- Form Name -->
                    <legend>Rellene los campos:</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">Nombre completo</label>
                        <div class="col-md-4">
                            <input id="name" name="name" type="text" placeholder="Ej. Juan Pérez"
                                class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="dir">Dirección</label>
                        <div class="col-md-5">
                            <input id="dir" name="dir" type="text" placeholder="Ej. Av. Lope de Vega con Juan B. Justo"
                                class="form-control input-md" required="">
                            <span class="help-block">Dirección del inmueble</span>
                        </div>
                    </div>

                    <!-- Select -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="realty">Tipo de inmueble</label>
                        <div class="col-md-4">
                            <select id="realty" name="realty" class="form-control">
                                <option value="1">Casa</option>
                                <option value="2">Villa</option>
                                <option value="3">Solar</option>
                                <option value="4">Finca</option>
                                <option value="5">Nave</option>
                                <option value="6">Local comercial</option>
                                <option value="7">Edificio</option>
                                <option value="8">Apartamento</option>
                                <option value="9">Penthouse</option>
                                <option value="10">Local de oficina</option>
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="tel">Teléfono</label>
                        <div class="col-md-4">
                            <input id="tel" name="tel" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Ej. 809-111-1111"
                                class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="email">Correo</label>
                        <div class="col-md-4">
                            <input id="email" name="email" type="email" placeholder="Ej. correo@dir.com"
                                class="form-control input-md" required="">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="price">Precio a pagar</label>
                        <div class="col-md-4">
                            <input id="price" name="price" type="text" placeholder="" class="form-control input-md"
                                required="">

                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="currency">Moneda</label>
                        <div class="col-md-4">
                            <select id="currency" name="currency" class="form-control">
                                <option value="1">USD</option>
                                <option value="2">DOP</option>
                            </select>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="date">Fecha</label>
                        <div class="col-md-4">
                            <input id="date" name="date" type="date" placeholder="Ej. 01/01/2019"
                                class="form-control input-md" required=""><br>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="botones">
                            <button id="submit" name="submit" class="button" type="submit">Guardar</button>
                            <button id="reset" name="reset" class="button" type="reset">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
</form>

<script>
    function popUp() {
        alert("Los datos fueron registrados");
    }
</script>