<link rel="stylesheet" href="/css/styles.css">

<div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <h2 align="center">Documentos requeridos para la transferencia de propiedad de un inmueble</h2>
            <p align="center"><small><i>Todos los documentos deben estar firmados y sellados a la hora de presentarlos</i></small></p>
            <div class="accordion" id="doc">
                <div class="card">
                    {{!-- DOC1 --}}
                    <div class="card-header p-2" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseOne" aria-expanded="true" 
                            aria-controls="collapseOne">
                                Contrato de venta original
                            </button>
                        </h5>
                    </div>

                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" 
                    data-parent="#doc">
                        <div class="card-body">
                            También conocido como <i>Contrato de compraventa o arrendamiento</i> 
                            es un contrato por el cual el vendedor se obliga a transferir la 
                            propiedad de un inmueble, a cambio de una cantidad de dinero 
                            específica (precio) que debe pagar el comprador. Esto lo podemos 
                            encontrar en los artículos 1709 Y 1710 del Código Civil Dominicano.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una persona física y/o compañía</small>
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- DOC2 --}}
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseTwo" aria-expanded="false" 
                            aria-controls="collapseTwo">
                                Certificado del título de propiedad
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" 
                    data-parent="#doc">
                        <div class="card-body">
                            El Certificado de Títulos es el documento que avala el derecho de 
                            propiedad que tiene una persona sobre un inmueble, el certificado 
                            de título es emitido por el Registro de Títulos; en la actualidad 
                            se le llama Matrícula.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una persona física y/o compañía</small>
                        </div>
                    </div>
                </div>

                <div class="card">
                    {{!-- DOC3 --}}
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseThree" aria-expanded="false" 
                            aria-controls="collapseThree">
                                Certificación del Impuesto al Patrimonio Imobiliario actualizado
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" 
                    data-parent="#doc">
                        <div class="card-body">
                            Es un impuesto anual que se aplica sobre la suma total del patrimonio 
                            inmobiliario gravado que tienen registrados las personas físicas y 
                            Fideicomisos.
                            <br>
                            <br>
                            A las <b>personas físicas</b> se le aplica una tasa de 1% sobre el 
                            valor excedente de <a href="#" data-toggle="tooltip" title="La DGII actualiza el monto base imponible año por año de acuerdo al monto de la inflación en la República Dominicana.">(RD$7,438,197.0)</a> 
                            del patrimonio gravado. A los Fideicomisos se le aplica el 1% sobre el valor total 
                            del patrimonio gravado.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una persona física y/o compañía</small>
                        </div>
                    </div>
                </div>

                <div class="card">
                    {{!-- DOC4 --}}
                    <div class="card-header p-2" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseFour" aria-expanded="false" 
                            aria-controls="collapseFour">
                                Certificación de Estado Jurídico del inmueble vigente
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseFour" aria-labelledby="headingFour" 
                    data-parent="#doc">
                        <div class="card-body">
                            La <b>Certificación de Estado Jurídico</b> es un documento emitido por 
                            la Jurisdicción Inmobiliaria, donde puedes ver las deudas, carga 
                            y gravamen que pesan sobre el título de propiedad.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una persona física y/o compañía</small>
                        </div>
                    </div>
                </div>

                <div class="card">
                    {{!-- DOC5 --}}
                    <div class="card-header p-2" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseFive" aria-expanded="true" 
                            aria-controls="collapseFive">
                                Tarjeta de Registro Nacional de Contribuyente (RNC)
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseFive" aria-labelledby="headingFive" 
                    data-parent="#doc">
                        <div class="card-body">
                            El Registro Nacional de Contribuyentes (RNC) es un número que 
                            se utiliza como código de identificación de los contribuyentes en 
                            sus actividades fiscales y como control de la administración para 
                            dar seguimiento al cumplimiento de los deberes y derechos de estos.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una compañía</small>
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- DOC6 --}}
                    <div class="card-header p-2" id="headingSix">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseSix" aria-expanded="true" 
                            aria-controls="collapseSix">
                                Registro mercantil actualizado
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseSix" aria-labelledby="headingSix" 
                    data-parent="#doc">
                        <div class="card-body">
                            El Registro Mercantil es el sistema conformado por la matrícula, 
                            renovación e inscripción de los libros, actos y documentos 
                            relacionados con las actividades industriales, comerciales y de 
                            servicios, que realizan las personas físicas o morales que se dedican 
                            de manera habitual al comercio.
                            <br>
                            <br>
                            El Registro Mercantil es administrado por las Cámaras de Comercio y 
                            Producción facultadas por la ley a nivel nacional y bajo la supervisión 
                            de la Secretaría de Estado de Industria y Comercio.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una compañía</small>
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- DOC7 --}}
                    <div class="card-header p-2" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseSeven" aria-expanded="true" 
                            aria-controls="collapseSeven">
                                Certificación de Impuestos Internos (DGII)
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" 
                    data-parent="#doc">
                        <div class="card-body">
                            El Certificado de Impuestos Internos es un documento oficial que
                            indica que la compañía está al día en el pago de todas sus obligaciones 
                            fiscales.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una compañía</small>
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- DOC8 --}}
                    <div class="card-header p-2" id="headingEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseEight" aria-expanded="true" 
                            aria-controls="collapseEight">
                                Estatutos de la compañía
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseEight" aria-labelledby="headingEight" 
                    data-parent="#doc">
                        <div class="card-body">
                            Los estatutos de una empresa deben regular la relación de la 
                            entidad con los socios y de estos entre sí, además de definir la 
                            forma de actuar de la sociedad frente a terceros.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una compañía</small>
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- DOC9 --}}
                    <div class="card-header p-2" id="headingNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseNine" aria-expanded="true" 
                            aria-controls="collapseNine">
                                Carta de autorización de reporte de crédito
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseNine" aria-labelledby="headingNine" 
                    data-parent="#doc">
                        <div class="card-body">
                            También conocida como <i>Carta de autorización de Buró</i> 
                            es un consentimiento que da el dueño del historial crediticio 
                            para que la otra parte del trato pueda revisarlo. Sin esta carta firmada, 
                            nadie puede ver su buró crediticio.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una persona física</small>
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- DOC10 --}}
                    <div class="card-header p-2" id="headingTen">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseTen" aria-expanded="true" 
                            aria-controls="collapseTen">
                                Carta de autorización de reporte de crédito
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseTen" aria-labelledby="headingTen" 
                    data-parent="#doc">
                        <div class="card-body">
                            También conocida como <i>Carta de autorización de Buró</i> 
                            es un consentimiento que da el dueño del historial crediticio 
                            para que la otra parte del trato pueda revisarlo. Sin esta carta firmada, 
                            nadie puede ver su buró crediticio.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una persona física</small>
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- DOC11 --}}
                    <div class="card-header p-2" id="headingEleven">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseEleven" aria-expanded="true" 
                            aria-controls="collapseEleven">
                                Carta de autorización de reporte de crédito
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseEleven" aria-labelledby="headingEleven" 
                    data-parent="#doc">
                        <div class="card-body">
                            También conocida como <i>Carta de autorización de Buró</i> 
                            es un consentimiento que da el dueño del historial crediticio 
                            para que la otra parte del trato pueda revisarlo. Sin esta carta firmada, 
                            nadie puede ver su buró crediticio.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una persona física</small>
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- DOC12 --}}
                    <div class="card-header p-2" id="headingTwelve">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseTwelve" aria-expanded="true" 
                            aria-controls="collapseTwelve">
                                Carta de autorización de reporte de crédito
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseTwelve" aria-labelledby="headingTwelve" 
                    data-parent="#doc">
                        <div class="card-body">
                            También conocida como <i>Carta de autorización de Buró</i> 
                            es un consentimiento que da el dueño del historial crediticio 
                            para que la otra parte del trato pueda revisarlo. Sin esta carta firmada, 
                            nadie puede ver su buró crediticio.
                            <br>
                            <br>
                            <small>Este documento es válido para inmuebles a nombre de una persona física</small>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>