
<div class="container p-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{user.fullname}}</h3>
                    <h4>{{user.direccion}}</h4>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            

        </div>
    </div>
</div>