<link rel="stylesheet" href="css/calendar.css">

<script type="type/javascript">
const { fullCalendar } = require('fullCalendar')
jQuery(document).ready(function(){
    jQuery('.datetimepicker').datepicker({
        timepicker: true,
        language: 'en',
        range: true,
        multipleDates: true,
            multipleDatesSeparator: " - "
      });
    jQuery("#add-event").submit(function(){
        alert("Submitted");
        var values = {};
        $.each($('#add-event').serializeArray(), function(i, field) {
            values[field.name] = field.value;
        });
        console.log(
          values
        );
    });
  });
  
  (function () {    
      'use strict';
      // ------------------------------------------------------- //
      // Calendar
      // ------------------------------------------------------ //
      jQuery(function() {
          // page is ready
          jQuery('#calendar').fullCalendar({
              themeSystem: 'bootstrap4',
              // emphasizes business hours
              businessHours: false,
              defaultView: 'month',
              // event dragging & resizing
              editable: true,
              // header
              header: {
                  left: 'title',
                  center: 'month,agendaWeek,agendaDay',
                  right: 'today prev,next'
              },
              events: [
                  {
                      title: 'Barber',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-07-07',
                      end: '2019-07-07',
                      className: 'fc-bg-default',
                      icon : "circle"
                  },
                  {
                      title: 'Flight Paris',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-08-08T14:00:00',
                      end: '2019-08-08T20:00:00',
                      className: 'fc-bg-deepskyblue',
                      icon : "cog",
                      allDay: false
                  },
                  {
                      title: 'Team Meeting',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-07-10T13:00:00',
                      end: '2019-07-10T16:00:00',
                      className: 'fc-bg-pinkred',
                      icon : "group",
                      allDay: false
                  },
                  {
                      title: 'Meeting',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-08-12',
                      className: 'fc-bg-lightgreen',
                      icon : "suitcase"
                  },
                  {
                      title: 'Conference',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-08-13',
                      end: '2019-08-15',
                      className: 'fc-bg-blue',
                      icon : "calendar"
                  },
                  {
                      title: 'Baby Shower',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-08-13',
                      end: '2019-08-14',
                      className: 'fc-bg-default',
                      icon : "child"
                  },
                  {
                      title: 'Birthday',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-09-13',
                      end: '2019-09-14',
                      className: 'fc-bg-default',
                      icon : "birthday-cake"
                  },
                  {
                      title: 'Restaurant',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-10-15T09:30:00',
                      end: '2019-10-15T11:45:00',
                      className: 'fc-bg-default',
                      icon : "glass",
                      allDay: false
                  },
                  {
                      title: 'Dinner',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-11-15T20:00:00',
                      end: '2019-11-15T22:30:00',
                      className: 'fc-bg-default',
                      icon : "cutlery",
                      allDay: false
                  },
                  {
                      title: 'Shooting',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-08-25',
                      end: '2019-08-25',
                      className: 'fc-bg-blue',
                      icon : "camera"
                  },
                  {
                      title: 'Go Space :)',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-12-27',
                      end: '2019-12-27',
                      className: 'fc-bg-default',
                      icon : "rocket"
                  },
                  {
                      title: 'Dentist',
                      description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu pellentesque nibh. In nisl nulla, convallis ac nulla eget, pellentesque pellentesque magna.',
                      start: '2019-12-29T11:30:00',
                      end: '2019-12-29T012:30:00',
                      className: 'fc-bg-blue',
                      icon : "medkit",
                      allDay: false
                  }
              ],
              eventRender: function(event, element) {
                  if(event.icon){
                      element.find(".fc-title").prepend("<i class='fa fa-"+event.icon+"'></i>");
                  }
                },
              dayClick: function() {
                  jQuery('#modal-view-event-add').modal();
              },
              eventClick: function(event, jsEvent, view) {
                      jQuery('.event-icon').html("<i class='fa fa-"+event.icon+"'></i>");
                      jQuery('.event-title').html(event.title);
                      jQuery('.event-body').html(event.description);
                      jQuery('.eventUrl').attr('href',event.url);
                      jQuery('#modal-view-event').modal();
              },
          })
      });
    
  })(jQuery);
</script>

<div class="p-5">
  <h2 class="mb-4">Calendario completo</h2>
  <div class="card">
    <div class="card-body p-0">
      <div id="calendar"></div>
    </div>
  </div>
</div>

<!-- calendar modal -->
<div id="modal-view-event" class="modal modal-top fade calendar-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="modal-title"><span class="event-icon"></span><span class="event-title"></span></h4>
        <div class="event-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div id="modal-view-event-add" class="modal modal-top fade calendar-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form id="add-event">
        <div class="modal-body">
          <h4>Añadir detalles de evento</h4>
          <div class="form-group">
            <label>Nombre de evento</label>
            <input type="text" class="form-control" name="ename">
          </div>
          <div class="form-group">
            <label>Fecha de evento</label>
            <input type='text' class="datetimepicker form-control" name="edate">
          </div>
          <div class="form-group">
            <label>Descripción del evento</label>
            <textarea class="form-control" name="edesc"></textarea>
          </div>
          <div class="form-group">
            <label>Color del evento</label>
            <select class="form-control" name="ecolor">
              <option value="fc-bg-default">fc-bg-default</option>
              <option value="fc-bg-blue">fc-bg-blue</option>
              <option value="fc-bg-lightgreen">fc-bg-lightgreen</option>
              <option value="fc-bg-pinkred">fc-bg-pinkred</option>
              <option value="fc-bg-deepskyblue">fc-bg-deepskyblue</option>
            </select>
          </div>
          <div class="form-group">
            <label>Icono de evento</label>
            <select class="form-control" name="eicon">
              <option value="circle">círculo</option>
              <option value="cog">tuerca</option>
              <option value="group">grupo</option>
              <option value="suitcase">maleta</option>
              <option value="calendar">calendario</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" style="background-color: #1bb2fe; border-color: #1eb2fc;">Guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
