<style>
    #map-template {
        height: 230px;
        width: 250px;
        position: relative;
    }
</style>
<link rel="stylesheet" href="./css/inicio.css">
<link href="/css/sb-admin-2.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>


<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 img-fluid" src="./img/imagebuilding.png" alt="First slide">
                    <div class="carousel-caption d-none d-md-block w-50 ml-auto mr-auto">
                        <h5>CloudTower</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, vel ea? Aspernatur, ex
                            maxime.
                            Corporis repudiandae esse quidem quasi at vitae ex nemo maxime soluta optio, est ullam
                            totam
                            quod?</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="./img/modernglass.png" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block w-50 ml-auto mr-auto">
                        <h5>Second Slide</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quod eaque odio esse
                            deserunt veritatis temporibus maiores! Odio vitae, quibusdam libero tenetur nostrum
                            voluptas
                            eos ipsam, corporis harum explicabo omnis.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="./img/nightview.png" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block w-50 ml-auto mr-auto">
                        <h5>Third Slide</h5>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum nobis temporibus libero
                            nihil
                            fugiat quasi, minus cumque labore eum, quos sunt pariatur incidunt rem, asperiores hic
                            sapiente omnis odit nisi?</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previa</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">

    </div>
</div>
<div class="container-fluid pt-1">
    <div class="row text-white p-4 text-center justify-content-between" style="background-color: rgb(40, 134, 182);">
        <div class="col-sm-3">
            <h4 class="text-left">Dirección</h4>
            <div id="map-template"></div>
        </div>
        <div class="col-sm-3">
            <h4>Objetivo</h4>
            <p>CloudTower es un sistema hecho para el sector inmobiliario que busca eficientizar la comunicación entre
                las empresas inmobiliarias, las constructoras y los clientes cuando apliquen.</p>
        </div>

        <div class="col-sm-3">
            <h4>Teléfonos</h4>
            <h6><i class="fas fa-mobile-alt"> 829-536-7146</i></h6>
            <h6><i class="fas fa-tty"> 809-567-9271</i></h6>
        </div>
        <div class="col-sm-3">
            <h4>Correo</h4>
            <h6><i class="far fa-envelope"> CloudTower2020@gmail.com</i></h6>

        </div>





    </div>
</div>

<script>
    const map = L.map('map-template').setView([18.4878446, -69.9623265], 15);

    L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png').addTo(map);
    const marker = L.marker([18.4878446, -69.9623265]).bindPopup('Av. de Los Próceres 49, Santo Domingo')
    marker.addTo(map);
</script>