<style>
    #map-template {
        height: 230px;
        width: 250px;
        position: relative;
    }
</style>
<link rel="stylesheet" href="./css/inicio.css">
<link href="/css/sb-admin-2.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>


<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 img-fluid" src="./img/imagebuilding.png" alt="First slide">
                    <div class="carousel-caption d-none d-md-block w-50 ml-auto mr-auto">
                        <h5>CloudTower</h5>
                        <p>¡Bienvenido! Te agradecemos por utilizar nuestro sistema. Para empezar a ver sus 
                            funcionalidades, inicie sesión. En caso de no estár registrado, puede registrarse 
                            seleccionando el botón homólogo.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="./img/modernglass.png" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block w-50 ml-auto mr-auto">
                        <h5>Misión</h5>
                        <p>Nos encargamos de reunir en un solo lugar la mayor cantidad de inmuebles disponibles
                            en el mercado dominicano, para que su búsqueda y los procesos de venta sean más cómodos
                            y sencillos.
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-fluid" src="./img/nightview.png" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block w-50 ml-auto mr-auto">
                        <h5>Visión</h5>
                        <p>Buscamos eficientizar la comunicación entre las empresas inmobiliarias, las
                            constructoras y los clientes, de manera que el proceso de compra/venta de un inmuebles
                            sea sencillo y dure menos tiempo. Además de esto, se busca reducir el uso excesivo de papel
                            utilizando herramientas como la firma digital.
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previa</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">

    </div>
</div>
<div class="container-fluid pt-1">
    <div class="row text-white p-4 text-center justify-content-between" style="background-color: rgb(40, 134, 182);">
        <div class="col-sm-3">
            <h4 class="text-left">Dirección</h4>
            <div id="map-template"></div>
        </div>
        <div class="col-sm-3">
            <h4>Objetivo</h4>
            <p class="text-justify">CloudTower es un sistema hecho para el sector inmobiliario que busca eficientizar la comunicación entre
                las empresas inmobiliarias, las constructoras y los clientes cuando apliquen.</p cl>
        </div>

        <div class="col-sm-3">
            <h4>Teléfonos</h4>
            <h6><i class="fas fa-mobile-alt"></i> 829-536-7146</h6>
            <h6><i class="fas fa-tty"></i> 809-567-9271</h6>
        </div>
        <div class="col-sm-3">
            <h4>Correo</h4>
            <h6><i class="far fa-envelope"></i> CloudTower2020@gmail.com</h6>

        </div>





    </div>
</div>

<script>
    const map = L.map('map-template').setView([18.4878446, -69.9623265], 15);

    L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png').addTo(map);
    const marker = L.marker([18.4878446, -69.9623265]).bindPopup('Av. de Los Próceres 49, Santo Domingo')
    marker.addTo(map);
</script>