<main class="inicio">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <img src="./img/LogoCloudTower.png" alt="logo" width="200" height="200">
        </div>
        

    </header>
</main>


