<link rel="stylesheet" href="css/jquery-ui.css">
<script src="script/jquery-1.12.4.js"></script>
<script src="script/jquery.ui.js"></script>

<div class="modal fade" id="reservaModal{{@index}}" tabindex="-1" role="dialog" aria-labelledby="newProyectTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header text-white" style="background-color: #1bb2fe;">
                <h5 class="modal-title" id="exampleModalLongTitle">Reserva este inmueble</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/reservar/{{inmo.idInm}}/add" method="POST">
                    <div class="form-group">
                        <h5>Programe el día</h5>
                        <input type="date" name="fecha" id="fecha" placeholder="YYYY-MM-DD" />
                        <a tabindex="0" class="btn btn-sm btn-circle btn-info" data-toggle="popover" data-trigger="focus" title="Aviso"
                        data-content="Las reservas solo se pueden realizar desde mañana en adelante"><i class="fas fa-info"></i></a>

                    </div>
                    
                    <hr>
                    <div class="form-group">
                        <h5>Programe la hora</h5>
                        <label for="tiempo">Hora</label>
                        <select name="tiempo" class="custom-select" required>

                            <option value="9:00">9:00</option>
                            <option value="9:30">9:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>

                        </select>
                        <small>Formato esta en 24 horas</small>
                    </div>
                    <hr>
                    <h5>Representante</h5>
                    <div>
                        {{#each repre}}
                        <p>
                            Su representante será <b>{{fullname}}</b>
                        </p>
                        {{/each}}
                    </div>
                    

                    <div class="form-group">
                        <button type="submit" class="btn text-white"
                            style="background-color: #1bb2fe; border-color: #1eb2fc;">Reservar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>