<style>
img, figcaption {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="container p-4">
    <div class="row">
        <div class="col-sm-4 .offset-md-4"> 
            <img src="./img/Under_Construction.gif" alt="">
        <figure>     
            <img src="./img/logo.png" alt="loguito">
            <figcaption>Lider del Proyecto</figcaption>
        </figure>
        </div>
        <div class="col">
            <img src="./img/LogoCloudTower.png" alt="CloudTower"  height="200" width="200">
        </div>
        <div class="col-sm-4 .offset-md-4">
        <figure>
            <img src="./img/logo2.png" alt="loguito2">
            <figcaption>Desarrollador</figcaption>
        </figure>  
        </div>
        
        <div class="col-sm-4 .offset-md-4">
        <figure>
            <img src="./img/logo3.png" alt="loguito3">
            <figcaption>Arquitecto de Software</figcaption>
        </figure>          
        </div>
        <div class="col-md-4 .offset-md-4">
        <figure>
            <img src="./img/logo4.png" alt="loguito4">
            <figcaption>Analista de Requerimientos</figcaption>     
        </figure>
        </div>
        <div class="col-md-4 .offset-md-4">
        <figure>
            <img src="./img/logo5.png" alt="loguito5">
            <figcaption>Asegurador de Calidad</figcaption>
        </figure>
        </div>
    </div>
</div>
<script>
    
</script>