<div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="accordion" id="faq">
                <div class="card">
                    {{!-- ABOUT --}}
                    <div class="card-header p-2" id="headingZero" data-toggle="collapse" 
                            data-target="#collapseZero" aria-expanded="true" 
                            aria-controls="collapseZero">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseZero" aria-expanded="true" 
                            aria-controls="collapseZero">
                                ¿Quiénes somos?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse show" id="collapseZero" aria-labelledby="headingZero" 
                    data-parent="#faq">
                        <div class="card-body">
                            Somos un grupo universitario que, además de querer completar 
                            nuestro ciclo estudiantil, busca mejorar uno de los sectores 
                            en la República Dominicana que consideramos más necesitados de 
                            alternativas tecnológicas como la que presentamos.
                            <br>
                            <br>
                            Nuestro <b>objetivo principal</b> es el de crear es un sistema 
                            para el sector inmobiliario en busca de eficientizar la 
                            comunicación entre las empresas inmobiliarias, las constructoras 
                            y los clientes cuando apliquen. Por otra parte, queremos ayudar a 
                            que el proceso de compraventa de un inmueble sea lo menos tedioso 
                            posible, tanto para el vendedor como para el cliente.
                            <br>
                            <br>
                            A continuación se presenta nuestro FODA:
                            <img class="img-fluid" src="../img/FODA.png" alt="foda">
                        </div>
                    </div>                    
                </div>

                
                <div class="card">
                    {{!-- FAQ1 --}}
                    <div class="card-header p-2" id="headingOne" data-toggle="collapse" 
                            data-target="#collapseOne" aria-expanded="true" 
                            aria-controls="collapseOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseOne" aria-expanded="true" 
                            aria-controls="collapseOne">
                                P: ¿Cuál es la diferencia entre el usuario cliente y el usuario constructora/inmobiliaria?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseOne" aria-labelledby="headingOne" 
                    data-parent="#faq">
                        <div class="card-body">
                            <b>R:</b> Se diferencia en que para cada uno hay una interfaz 
                            personalidad dependiendo de sus necesidades, en el caso de 
                            Cliente quiere comprar o alquilar y se les muestra información 
                            de proyectos mientras que las Constructoras/Inmobiliarias se 
                            encarga de subir estos proyectos.
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- FAQ2 --}}
                    <div class="card-header p-2" id="headingTwo" data-toggle="collapse" 
                            data-target="#collapseTwo" aria-expanded="false" 
                            aria-controls="collapseTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseTwo" aria-expanded="false" 
                            aria-controls="collapseTwo">
                                P: ¿Cuál es el costo para la creación de una cuenta?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" 
                    data-parent="#faq">
                        <div class="card-body">
                            <b>R:</b> Por el momento CloudTower es totalmente gratis, tanto 
                            para los clientes como para las Inmobiliarias/Constructoras.
                        </div>
                    </div>
                </div>

                <div class="card">
                    {{!-- FAQ3 --}}
                    <div class="card-header p-2" id="headingThree" data-toggle="collapse" 
                            data-target="#collapseThree" aria-expanded="false" 
                            aria-controls="collapseThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseThree" aria-expanded="false" 
                            aria-controls="collapseThree">
                                P: ¿Cuál es la cantidad máxima permitida de inmuebles publicados?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" 
                    data-parent="#faq">
                        <div class="card-body">
                            <b>R:</b> Por el momento CloudTower no tiene ningún límite.
                            <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="card">
                    {{!-- FAQ4 --}}
                    <div class="card-header p-2" id="headingFour" data-toggle="collapse" 
                            data-target="#collapseFour" aria-expanded="false" 
                            aria-controls="collapseFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseFour" aria-expanded="false" 
                            aria-controls="collapseFour">
                                P: ¿Cómo puedo comunicarme si no entiendo algo de la plataforma o se 
                                produce algún inconveniente?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseFour" aria-labelledby="headingFour" 
                    data-parent="#faq">
                        <div class="card-body">
                            <b>R:</b> Tenemos disponible un chat con acceso las 24 horas, 
                            situado en la esquina inferior derecha de su pantalla.
                        </div>
                    </div>
                </div>

                <div class="card">
                    {{!-- FAQ5 --}}
                    <div class="card-header p-2" id="headingFive" data-toggle="collapse" 
                            data-target="#collapseFive" aria-expanded="false" 
                            aria-controls="collapseFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseFive" aria-expanded="false" 
                            aria-controls="collapseFive">
                                P: ¿Cuál es la diferencia entre una firma normal y una firma digital?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseFive" aria-labelledby="headingFive" 
                    data-parent="#faq">
                        <div class="card-body">
                            <b>R:</b> Hasta el momento, existen diferentes formas de firmar 
                            un documento legal. Aquí se definen cuatro de ellas:
                            <br>
                            <br>
                            <b>Firma electrónica:</b> Se trata del “conjunto de datos en 
                            forma electrónica, consignados junto a otros o asociados con 
                            ellos, que pueden ser utilizados como medios de identificación 
                            del firmante”, según la Ley 59/2003. Este es por tanto un 
                            concepto jurídico y un método de identificación, equivalente o 
                            análogo a la firma manuscrita, que se sirve de diversos soportes 
                            electrónicos distintos, como un lápiz electrónico o una firma 
                            digital. Realizar una firma electrónica quiere decir que una 
                            persona física verifica una acción o procedimiento mediante un 
                            medio electrónico, dejando un registro de la fecha y hora de la 
                            misma. Este concepto es más genérico, amplio e indefinido desde el 
                            punto de vista electrónico que la firma digital.
                            <br>
                            <br>
                            <b>Firma digital:</b> Es el conjunto de caracteres que se añaden al 
                            final de un documento o cuerpo de un mensaje para informar, dar fe o 
                            mostrar validez y seguridad. La firma digital sirve para identificar a 
                            la persona emisora de dicho mensaje y para certificar la veracidad de 
                            que el documento no se ha modificado con respeto al original. No se 
                            puede negar haberlo firmado, puesto que esta firma implica la 
                            existencia de un certificado oficial emitido por un organismo o 
                            institución que valida la firma y la identidad de la persona que la 
                            realiza. La firma digital se basa en los sistemas de criptografía de 
                            clave pública (PKI – Public Key Infrastructure) que satisface los 
                            requerimientos de definición de firma electrónica avanzada.
                            <br>
                            <br>
                            <b>Certificado electrónico o digital:</b> Este documento o fichero 
                            informático es el que una persona física o jurídica utiliza para 
                            identificarse en la red, autenticada por un tercero o autoridad 
                            certificador y la aplicación automática de un algoritmo matemático que 
                            asocia la identidad al mensaje o documento. El ejemplo más popular es 
                            el DNI electrónico.
                            <br>
                            <br>
                            <b>Firma digitalizada:</b> A pesar de que muchas personas la confunden 
                            con la firma digital, no tiene nada que ver. Este término alude a la 
                            simple representación gráfica de la firma manuscrita obtenida a través 
                            de un escáner, que puede ser insertada en cualquier documento, como un 
                            correo electrónico y que fue popularizada por los expertos de marketing. 
                            Por ejemplo, este bot de Facebook Messenger te permite tener una firma 
                            profesional. Sin embargo, a efectos prácticos, la firma que utilizamos 
                            mayoritariamente para la realización de numerosos trámites y gestiones 
                            tanto ante la Agencia Tributaria como ante las Administraciones 
                            Públicas, es la firma digital, también empleada en el seno interno de 
                            las empresas y en el correo electrónico seguro.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>