<style>
img, figcaption {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="container p-4">
    <div class="row">
        <div class="col-sm-4 .offset-md-4">
        <figure>     
            <img src="./img/sarah.jpeg" alt="loguito" height="200" width="200">
            <figcaption>Lider del Proyecto</figcaption>
        </figure>
        </div>
        <div class="col-sm-4 .offset-md-4">
            <img src="./img/LogoFino.png" alt="CloudTower"  height="200" width="200">
        </div>
        <div class="col-sm-4 .offset-md-4">
        <figure>
            <img src="./img/abdel.jpeg" alt="loguito2" height="200" width="200">
            <figcaption>Desarrollador</figcaption>
        </figure>  
        </div>
        
        <div class="col-sm-4 .offset-md-4">
        <figure>
            <img src="./img/ferrer.jpeg" alt="loguito3" height="200" width="200">
            <figcaption>Arquitecto de Software</figcaption>
        </figure>          
        </div>
        <div class="col-md-4 .offset-md-4">
        <figure>
            <img src="./img/carlosDquezada.jpeg" alt="loguito4" height="200" width="200">
            <figcaption>Analista de Requerimientos</figcaption>     
        </figure>
        </div>
        <div class="col-md-4 .offset-md-4">
        <figure>
            <img src="./img/hecmanuel.jpeg" alt="loguito5" height="200" width="200">
            <figcaption>Asegurador de Calidad</figcaption>
        </figure>
        </div>
    </div>
</div>
<script>
    
</script>