<div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="accordion" id="faq">
                <div class="card">
                    {{!-- FAQ1 --}}
                    <div class="card-header p-2" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" 
                            data-target="#collapseOne" aria-expanded="true" 
                            aria-controls="collapseOne">
                                P: ¿Cuál es la diferencia entre el usuario cliente y el usuario constructora/inmobiliaria?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" 
                    data-parent="#faq">
                        <div class="card-body">
                            <b>R:</b> Se diferencia en que para cada uno hay una interfaz 
                            personalidad dependiendo de sus necesidades, en el caso de 
                            Cliente quiere comprar o alquilar y se les muestra información 
                            de proyectos mientras que las Constructoras/Inmobiliarias se 
                            encarga de subir estos proyectos.
                        </div>
                    </div>                    
                </div>

                <div class="card">
                    {{!-- FAQ2 --}}
                    <div class="card-header p-2" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseTwo" aria-expanded="false" 
                            aria-controls="collapseTwo">
                                P: ¿Cuál es el costo para la creación de una cuenta?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" 
                    data-parent="#faq">
                        <div class="card-body">
                            <b>R:</b> Por el momento CloudTower es totalmente gratis, tanto 
                            para los clientes como para las Inmobiliarias/Constructoras.
                        </div>
                    </div>
                </div>

                <div class="card">
                    {{!-- FAQ3 --}}
                    <div class="card-header p-2" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseThree" aria-expanded="false" 
                            aria-controls="collapseThree">
                                P: ¿Cuál es la cantidad máxima permitida de inmuebles publicados?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" 
                    data-parent="#faq">
                        <div class="card-body">
                            <b>R:</b> Por el momento CloudTower no tiene ningún límite.
                            <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="card">
                    {{!-- FAQ4 --}}
                    <div class="card-header p-2" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" 
                            data-target="#collapseFour" aria-expanded="false" 
                            aria-controls="collapseFour">
                                P: ¿Cómo puedo comunicarme si no entiendo algo de la plataforma o se 
                                produce algún inconveniente?
                            </button>
                        </h5>
                    </div>

                    <div class="collapse" id="collapseFour" aria-labelledby="headingFour" 
                    data-parent="#faq">
                        <div class="card-body">
                            <b>R:</b> Tenemos disponible un chat con acceso las 24 horas, 
                            situado en la esquina inferior derecha de su pantalla.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>