<style>
    figure {
        display: inline-block;
        margin: 20px;
    }
    figure img {
        vertical-align: top;
    }
    figure figcaption {
        border: 1px dotted blue;
        text-align: center;
    }
</style>
<div class="container p-4">
    <div class="row">
        <div class="col"> 
        <figure>     
            <img src="./img/logo.png" alt="loguito">
            <figcaption>Lider del Proyecto</figcaption>
        </figure>
        </div>
        <div class="col-md-4">
        <figure>
            <img src="./img/logo2.png" alt="loguito2">
            <figcaption>Desarrollador</figcaption>
        </figure>  
        </div>
    </div>
    <div class="row">
        <div class="col">
        <figure>
            <img src="./img/logo3.png" alt="loguito3">
            <figcaption>Arquitecto de Software</figcaption>
        </figure>
            
        </div>
        <div class="col">
        <figure>
            <img src="./img/logo4.png" alt="loguito4">
            <figcaption>Analista de Requerimientos</figcaption>     
        </figure>
        </div>
        <div class="col">
        <figure>
            <img src="./img/logo5.png" alt="loguito5">
            <figcaption>Asegurador de Calidad</figcaption>
        </figure>
        </div>
    </div>
</div>
<script>
    
</script>