<style>
    .card,
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
</style>
{{> navigation }}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 .offset-md-4">
            <div class="card" style="width: 20rem;">
                <img src="./img/stock1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Contratos</h5>
                    <p class="card-text">Llena tus contratos mas facilmente!</p>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="./img/LogoCloudTower.png" alt="CloudTower" height="200" width="200">
        </div>
        <div class="col-md-4 .offset-md-4">
            <div class="card" style="width: 20rem;">
                <img src="./img/stock1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Busqueda eficiente</h5>
                    <p class="card-text">Busca un inmueble con nuestro filtro.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 .offset-md-4">
            <div class="card" style="width: 20rem;">
                <img src="./img/stock1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Comunicación Optimizada</h5>
                    <p class="card-text">Proporcionamos el sistema de comunicación mas eficiente
                        dentro del sector inmobiliario.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 .offset-md-4">
            <div class="card" style="width: 20rem;">
                <img src="./img/stock1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card Title</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur quaerat
                        eos necessitatibus voluptate optio esse dolores</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 .offset-md-4">
            <div class="card" style="width: 20rem;">
                <img src="./img/stock1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>


    </div>
</div>