<link rel="stylesheet" href="/css/tel.css">
<link rel="stylesheet" href="/css/imgs.css">
{{> navigation }}
<div class="container-fluid">
    <div class="row">
        <div id= "imgas" class="col">
            <img id='i1' src="./img/building.jpg" alt="Building" width="790" height="630">
            <img id='i2' src="./img/building2.jpg" alt="Building2" width="790" height="630">
            <img id='i3' src="./img/building3.jpg" alt="Building3" width="790" height="630">
        </div>
    </div> 
</div>

<div class="container p-4">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-4 mx-auto">
            <div class="card text-center animated fadeIn">
                <div class="card-header">
                    <h3>Inicio de sesión</h3>
                </div>
                <div class ="card-body">
                    <img src="/img/LogoCloudTower.png" alt="CloudTower" class="card-img mx-auto m-2 w-50">
                    <form action="/login" method="POST">
                        </div>
                        <div class="form-group">
                            <input type="email" name="correo" placeholder="Correo Electrónico" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Contraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Log in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>