<link rel="stylesheet" href="/css/tel.css">
<style>
    #carrusel {
    width: 50vw;
    position: fixed;
}
    .btn-lg {
        margin: 15%;
        width: 20rem;
        border: solid white;
<<<<<<< HEAD
        position:static;
=======
        position: static;
>>>>>>> 94d0d3897727445e7d8949e1a3d7b0fb70a68a07
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" 
            data-ride="carousel" data-interval="5000">
            <div class="carousel-inner" id="carrusel">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="./img/building.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./img/building4.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./img/treebuilding.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row align-items-start">
        <div class="col-md-3 ml-auto">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ClienteModal">
                <i class="fas fa-users"> Cliente</i>
            </button>

            <!-- Modal -->
            <div class="modal fade " id="ClienteModal" tabindex="-1" role="dialog"
                aria-labelledby="ClienteModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header  bg-primary text-white">
                            <h5 class="modal-title" id="exampleModalLongTitle">Registrarse</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/signup" method="POST">
                            <input type="hidden" name="entidad" value="1">
                                <div class="form-group">
                                    <input type="text" name="fullname" placeholder="Nombre Completo"
                                        class="form-control" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="tel" name="telefono" placeholder="Número de Telefono"
                                        class="form-control" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                                    <span class="note"> Formato: XXX-XXX-XXXX </span>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="correo" placeholder="Correo Electrónico"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="direccion" placeholder="Dirección" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Contraseña"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">
                                        Registrarse
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-3 ml-auto">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#InmobiliariaModal">
                <i class="fas fa-hotel"> Inmobiliaria</i>
            </button>

            <!-- Modal -->
            <div class="modal fade " id="InmobiliariaModal" tabindex="-1" role="dialog"
                aria-labelledby="InmobiliariaModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header  bg-primary text-white">
                            <h5 class="modal-title" id="exampleModalLongTitle">Registrarse</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/signup" method="POST">
                            <input type="hidden" name="entidad" value="2">
                                <div class="form-group">
                                    <input type="text" name="fullname" placeholder="Nombre de la Inmobiliaria"
                                        class="form-control" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="tel" name="telefono" placeholder="Telefono de Inmobiliaria"
                                        class="form-control" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                                    <span class="note"> Formato: XXX-XXX-XXXX </span>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="correo" placeholder="Correo de contacto"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="direccion" placeholder="Ubicacion" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Contraseña"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">
                                        Registrarse
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-end">
        <div class="col-md-3 ml-auto">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ConstructoraModal">
                <i class="fas fa-pencil-ruler"> Constructora</i>
            </button>

            <!-- Modal -->
            <div class="modal fade " id="ConstructoraModal" tabindex="-1" role="dialog"
                aria-labelledby="ConstructoraModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header  bg-primary text-white">
                            <h5 class="modal-title" id="exampleModalLongTitle">Registrarse</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/signup" method="POST">
                            <input type="hidden" name="entidad" value="3">
                                <div class="form-group">
                                    <input type="text" name="fullname" placeholder="Nombre Completo"
                                        class="form-control" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="tel" name="telefono" placeholder="Número de Telefono"
                                        class="form-control" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                                    <span class="note"> Formato: XXX-XXX-XXXX </span>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="correo" placeholder="Correo Electrónico"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="direccion" placeholder="Dirección" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Contraseña"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">
                                        Registrarse
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
